@model Category

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">DELETE CATEGORY</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name">NAME</label>
            <input asp-for="Name" disabled class="form-control" />
           @* <span asp-validation-for="Name" class="text-danger"></span>   *@            @*//Server side validation*@
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">DISPLAY ORDER </label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
            @*<span asp-validation-for="DisplayOrder" class="text-danger"></span>*@
        </div>
        <button type="submit" class="btn btn-warning" style="width:100px">DELETE</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:100px">
            Back to list
        </a>
    </div>
</form>